/* CONTACT SECTION Start */

@media (max-width: 768px) {
  .bg-title-page {
    padding-top: 80px !important;
    padding-bottom: 50px !important;
    min-height: 320px;
  }

  .bg-title-page h2 {
    font-size: 28px;
  }
}

.contact-section {
  padding: 80px 15px;
  background-color: #f8f9fa;
 
}

.contact-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

/* LEFT SIDE FORM CARD */
.contact-form {
  flex: 1;
  min-width: 350px;
  max-width: 500px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.contact-form h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #222;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-form .form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  padding: 12px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: #fff;
  transition: 0.3s;
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0,123,255,0.2);
}

.contact-form button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg,#007bff,#00c6ff);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-form button:hover {
  opacity: 0.95;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,123,255,0.4);
}

/* RIGHT SIDE COMPANY CARD */
.contact-info-card {
  flex: 1;
  min-width: 350px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.company-card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 10px 3px rgba(0,0,0,0.08);
  text-align: left;

}

.company-card h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

.company-card p {
  margin: 16px 0;
  font-size: 15px;
  color: #333;
}

/* Social Links with Icons */
.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: left;
  gap: 25px;
}

.social-links a {
  color: #007bff;
  font-size: 25px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #0056b3;
  transform: scale(1.1);
}


.contact-animation {
  margin-top: -40px;
  width: 80%;          
  max-width: 350px;   
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-animation lottie-player {
  width: 100%;
  height: 450px;     
}


/* Responsive */
@media (max-width: 992px) {
  .contact-section .container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info-card {
    margin-top: 30px;
  }
}

  /* Contact and form section End */



  /* Map setion start*/

  .map-section {
    margin-top: -100px;
  width: 100%;
}

.map-section iframe {
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}
