.bg-title-page{
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Black overlay */
.bg-title-page::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.1); 

  z-index: 1;
}

/* Text above overlay */
.bg-title-page h2{
  position: relative;
  z-index: 2;
}



.wrap-gallery{
  margin-top: 30px;   
}

/* ===== FILTER BUTTONS ================ */

.wrap-label-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
  flex-wrap: nowrap;       
  margin-bottom: 30px;
}

/* Filter buttons */
.label-gallery{
  padding: 12px 30px;             
  border-radius:10px;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
}

/* Hover */
.label-gallery:hover{
  background: none !important;
  color: #000000;
  border-color: #011724;
}

/* Active */
.label-gallery.is-actived{

  color: #000000;
  border-color: #011724;
}


/* ===== PARAGRAPH SWITCHING =========== */


.gallery-intro{
  max-width: 1000px;
  margin: 0 auto 40px auto;
  padding: 0 15px;
  text-align: center;
  min-height: 70px;
}

.intro-text{
  display: none;
  font-size: 17px;
  line-height: 1.9;
  color: #555;
}

/* Visible paragraph */
.intro-text.active-intro{
  display: block;
}



.wrap-gallery{
  margin-top: 20px;  
}

/* Gallery images */
.item-gallery img{
  width: 100%;
  display: block;
  border-radius: 10px;
}



@media (max-width: 768px){
  .wrap-label-gallery{
    overflow-x: auto;
    justify-content: flex-start;
  }
}



/* product background section start */

.wrap-gallery {
  background: #f1f1f1;   /* halka gray */
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Active product link */
.product-dropdown a.active {
  color: #ec1d25;
  font-weight: 500;
}
